html
  head
    title Wheaton Screens
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    
    link(rel='stylesheet' type='text/css' href='styles/lib/current-details.css?hash=MQlhuY')
    link(rel='stylesheet' type='text/css' href='styles/lib/timeline.css?hash=5NIvoS')
    link(rel='stylesheet' type='text/css' href='styles/lib/widget-graph-bar.css?hash=daFuei')


    link(rel='stylesheet' type='text/css' href='styles/dispatch.css?hash=Nmeu6O')
  body.day
    .container-fluid.h-100
      .row.h-100
        .col-sm-3.h-100.text-white.bg-primary.left.d-flex.flex-column.justify-content-between
          #top
            img.logo(src='images/logo.png')
            #waiting.hide Waiting for call...
          #counter.hide
            span#minutes 0
            | :
            span#seconds 00
        .col-sm-9.h-100.d-flex.flex-column.right
          #new-call.row.flex-grow-1.hide
            .col
              #directionsMap
            .col
              .directions.d-flex.flex-column.justify-content-between
                #endResultMap
                #streetsideMap
                #disclaimer
                  p
                    strong Not guaranteed to be accurate.
                  p Always use the MDC to confirm running route.
          #no-call
            #chats
              h2 Hospital Statuses
              p.small.text-muted.updated
                | Last updated at 
                span 
              .row
                .col.border-right
                  .hospital#holy-cross-hospital
                    .name Holy Cross Hospital
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  .hospital#suburban
                    .name Suburban
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  .hospital#montgomery-general
                    .name Medstar Montgomery
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  .hospital#white-oak
                    .name White Oak
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  
                .col.pl-4
                  .hospital#shady-grove
                    .name Shady Grove
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  .hospital#medstar-washington
                    .name Medstar Washington
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
                  .hospital#childrens-national
                    .name Childrens's National
                    .statuses
                      .color.yellow y
                      .color.red r
                      .color.green g
                      .color.orange o
                      .color.purple p
                      .no no alerts
            #weather.dayDetails.mt-4.pt-4.border-top
              h2.float-left Weather
              .float-right.mt-1.d-flex.align-items-center
                canvas#summary-icon(width='30', height='30')
                p#summary.mt-0.mb-0.pb-1 
            #slider
              .handle
                .line
            .scroll-container
              #timeline.timeline_container
                .timeline
                  .stripes
                  .hour_ticks
                  .hours
                  .temps
            #currentDetails.mt-4.mb-4
              p#currentDetailsTitle.pb-0.mb-1 Current Conditions
              .section
                .temperature
                  span.label.swip Temp:
                  span.val.swap
                    span.num 
                    span.unit &ring;
                .precipProbability
                  span.label.swip Precip:
                  span.val.swap
                    span.num.swip 
                    span.unit.swap %
              .section
                .wind
                  span.label.swip Wind:
                  span.val.swap
                    span.num.swip 
                    span.unit.swap mph
                    span.direction.d-inline-block.ml-1(style='') &uarr;
                .pressure
                  span.label.swip Pressure:
                  span.val.swap
                    span.num.swip 
                    span.unit.swap mb
              .section
                .humidity
                  span.label.swip Humidity:
                  span.val.swap
                    span.num.swip 
                    span.unit.swap %
                .dew_point
                  span.label.swip Dew Pt:
                  span.val.swap
                    span.num 
                    span.unit &ring;
              .section
                .uv_index
                  span.label.swip UV Index:
                  span.val.swap
                    span.num 0
                .visibility
                  span.label.swip Visibility:
                  span.val.swap
                    span.num.swip 
                    span.unit.swap mi
            #weather-alerts


    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')

    script(src='scripts/lib/moment.min.js?hash=3dgP2Y')
    script(src='scripts/lib/timeline.js?hash=yiU4Qa')

    script(src='scripts/dispatch.js?hash=oU6DOM')
    script(src='scripts/dispatch-hospitals.js?hash=Bws7tf')
    script(src='scripts/dispatch-weather.js?hash=zvofQ1')

