html
  head
    title Wheaton Screens
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    
    link(rel='stylesheet' type='text/css' href='styles/lib/current-details.css?hash=MQlhuY')
    link(rel='stylesheet' type='text/css' href='styles/lib/timeline.css?hash=5NIvoS')
    link(rel='stylesheet' type='text/css' href='styles/lib/widget-graph-bar.css?hash=daFuei')

    link(rel='stylesheet' type='text/css' href='styles/dispatch.css?hash=Jk101a')
  body.day
    .container-fluid.h-100
      .row.bg-primary.p-3.d-flex.justify-content-between.align-items-center#stripe
        img#logo(src='images/logo.png')
        #notice
      #error-box
      .row
        #new-call.d-flex.p-4
          .col
            #directionsMap
          .col
            .directions.d-flex.flex-column.justify-content-between
              #endResultMap
              #streetsideMap
              #disclaimer
                p
                  strong Not guaranteed to be accurate.
                p Always use the MDC to confirm running route.
        #no-call.p-4
          #chats
            h2 Hospital Statuses
            p.small.text-muted.updated
              | Last updated at 
              span 
            .row
              .col.border-right
                .hospital#holy-cross-hospital
                  .name Holy Cross Hospital
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                .hospital#suburban
                  .name Suburban
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                .hospital#montgomery-general
                  .name Medstar Montgomery
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
              .col.border-right.pl-4
                .hospital#white-oak
                  .name White Oak
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                .hospital#shady-grove
                  .name Shady Grove
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                .hospital#holy-cross-germantown
                  .name HC Germantown
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
              .col.pl-4
                .hospital#medstar-washington
                  .name Medstar Washington
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                .hospital#childrens-national
                  .name Childrens's National
                  .statuses
                    .color.yellow y
                    .color.red r
                    .color.green md
                    .color.orange rr
                    .color.purple tb
                    .no no alerts
                #blue.hide
                  .name Montgomery County
                  .statuses Blue Alert
          #weather.dayDetails.border-top
            h2.mb-0 Weather
            .float-right.mt-1.d-flex.align-items-center
              canvas#summary-icon(width='30', height='30')
              p#summary.mt-0.mb-0.pb-1 
          #slider
            .handle
              .line
          .scroll-container
            #timeline.timeline_container
              .timeline
                .stripes
                .hour_ticks
                .hours
                .temps
          #currentDetails.mt-4.mb-4
            #currentIcon.float-left
              img
            p#currentDetailsTitle.pb-0.mb-0 Current Conditions at 2400 Arcola
            .section
              .conditions
                span.val.swap
                  span.num 
              .temperature
                span.label.swip Temp:
                span.val.swap
                  span.num 
                  span.unit &ring;
            .section
              .feels_like
                span.label.swip Feels Like:
                span.val.swap
                  span.num.swip 
                  span.unit.swap &ring;
              .wind
                span.label.swip Wind:
                span.val.swap
                  span.num.swip 
                  span.unit.swap mph
                  span.direction.d-inline-block.ml-1(style='') &uarr;
            .section
              .humidity
                span.label.swip Humidity:
                span.val.swap
                  span.num.swip 
                  span.unit.swap %
              .clouds
                span.label.swip Clouds:
                span.val.swap
                  span.num.swip 
                  span.unit.swap %
            .section
              .uv_index
                span.label.swip UV Index:
                span.val.swap
                  span.num 0
              .visibility
                span.label.swip Visibility:
                span.val.swap
                  span.num.swip 
                  span.unit.swap mi
          #weather-alerts.row


    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')

    script(src='scripts/lib/moment.min.js?hash=3dgP2Y')
    script(src='scripts/lib/timeline.js?hash=yiU4Qa')

    script(src='scripts/dispatch.js?hash=oU6DOM')
    script(src='scripts/dispatch-hospitals.js?hash=B56gba')
    script(src='scripts/dispatch-weather.js?hash=zvofQ1')

