html,
body {
	height: 100%;
	font-size: calc(1.1rem + 0.2vw);
}

body {
	font-family: Lato, "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

h2 {
	font-size: calc(1.325rem + 0.9vw);
	font-weight: bold;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: calc(0.5rem + 0.2vw);
}

/* Primary styles */

.bg-primary {
	background-color: #3498db !important;
}

.right {
	padding: 2rem 4rem;
}

.left {
	padding: calc(1rem + 1vw);
}

.left .logo {
	max-width: 100%;
	margin-bottom: 2rem;
}

.call {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	position: absolute;
	top: 200px;
	font-size: calc(1.3rem + 0.2vw);
	left: calc(1rem + 1vw);
	right: calc(1rem + 1vw);
}

.call .time {
	margin-bottom: 0.25rem;
}

.call ul.address {
	list-style: none;
	padding: 0;
}

.call ul.address li:first-child {
	font-size: 140%;
	font-weight: 700;
}

.call .type {
	padding: 0.5rem 0;
	font-weight: 700;
}

#no-call {
	position: absolute;
	left: 50px;
	right: 50px;
}

#waiting {
	font-size: 2rem;
	padding: 5rem 0;
	opacity: 0.8;
}

#top .error {
	border: 3px dashed red;
	padding: 1rem;
	background: white;
	color: #212529;
}

/* COUNTER */
#counter {
	font-size: calc(1.375rem + 5vw);
}

/* MAP */

.directions {
	height: 90vh;
}

#disclaimer {
	padding-top: 1rem;
}

#disclaimer p {
	margin-bottom: 0;
}

#directionsMap {
	height: 90vh;
}

#endResultMap {
	height: 100%;
}

.hide {
	visibility: hidden !important;
}

/* HOSPITAL */
.hospital {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.hospital .name {
	font-size: calc(1.275rem + 0.2vw);
}

.hospital .statuses {
	display: flex;
}

.hospital .statuses .color {
	color: white;
	padding: 0.4rem 1rem;
	border-radius: 3rem;
	margin-right: 1rem;
	text-transform: uppercase;
	display: none;
}

.hospital .statuses .color.yellow {
	background: #f1c40f;
}

.hospital .statuses .color.red {
	background: #e74c3c;
}

.hospital .statuses .color.orange {
	background: #ff9800;
}

.hospital .statuses .color.purple {
	background: #673ab7;
}

.hospital .statuses .color.green {
	background: #27ae60;
}

.hospital .statuses .no {
	margin-right: 1rem;
	font-size: 80%;
	display: none;
}

.updated {
	margin-bottom: 1rem;
}

.weather-alert .description {
	clear: both;
}
