html,
body {
	height: 100%;
}

body {
	font-family: Lato, "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

/* Primary styles */

.bg-primary {
	background-color: #3498db !important;
}

#logo {
	width: 200px;
}

.call {
	color: white;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.call .meta {
	flex: 1;
}

.call ul.address {
	list-style: none;
	padding: 0;
	flex: 1;
    text-align: center;
    margin-bottom: 0;
}

.call ul.address li:first-child {
	font-size: 2rem;
	font-weight: 700;
}

.call .meta .type {
	font-weight: 700;
}

#no-call {
	position: absolute;

}

#waiting {
	font-size: 2rem;
	opacity: 0.8;
	text-align: center;
	color: white;
	text-align: right;
}

#stripe {
	transition: all 0.5s ease;
}

.error {
	border: 3px dashed red;
	padding: 1rem;
	background: white;
	color: #212529;
	position: absolute;
	left: 1rem
	right: 1rem;
	bottom: 150px;
}

/* COUNTER */
#counter {
	font-size: 3rem;
	line-height: 3rem;
	color: white;
	opacity: 0.8;
	text-align: right;
	flex: 1;
}

/* MAP */

#new-call {
	width: 100%;
}

.directions {
	height: 76vh;
}

#disclaimer {
	padding-top: 1rem;
}

#disclaimer p {
	margin-bottom: 0;
}

#directionsMap {
	height: 76vh;
}

#endResultMap {
	height: 100%;
}

.hide {
	visibility: hidden !important;
}

/* COUNTY */
#blue {
	float: right;
    background: #0984e3;
    color: #fff;
    padding: 4px 1rem;
    border-radius: 8px;
}

/* HOSPITAL */
.hospital {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.hospital .name {
	font-size: 1.25rem;
}

.hospital .statuses {
	display: flex;
}

.hospital .statuses .color {
	color: white;
	padding: 5px 12px;
	border-radius: 20px;
	margin-right: 0.5rem;
	text-transform: uppercase;
	display: none;
}

.hospital .statuses .color.yellow {
	background: #f1c40f;
}

.hospital .statuses .color.red {
	background: #e74c3c;
}

.hospital .statuses .color.orange {
	background: #ff9800;
}

.hospital .statuses .color.purple {
	background: #673ab7;
}

.hospital .statuses .color.green {
	background: #27ae60;
}

.hospital .statuses .no {
	margin-right: 0.5rem;
	display: none;
}

/* Weather */
.weather-alert .description {
	clear: both;
}

.dayDetails {
	margin-top: 3.5rem;
	padding-top: 3rem;
}

.dayDetails.condensed {
	margin-top: 1rem;
	padding-top: 1rem;
}
